body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root{
  height: 100%;
}

.container{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  height: 100%;
}


body::-webkit-scrollbar-track,*::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important; */
	background-color: transparent !important;
}

body::-webkit-scrollbar,*::-webkit-scrollbar
{
	width: 10px !important;
	background-color: transparent !important;
}

body::-webkit-scrollbar-thumb,*::-webkit-scrollbar-thumb
{
	background-color: #000000 !important;
	border: 2px solid #555555 !important;
}
